<launch>
  <include file="$(find fanuc_gazebo)/launch/load_robot.launch" />
  <include file="$(find fanuc_lrmate200id_moveit_config)/launch/move_group.launch" />
  <include file="$(find fanuc_lrmate200id_moveit_config)/launch/moveit_rviz.launch" >
    <arg name="config" value="True" />
  </include>
</launch>
